body {
    background: url('../images/mhf-main-back.png');
    /* background: linear-gradient(45deg, #3a0ca3, #56b3ff); */
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    word-spacing: 6px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* ---Navbar--- */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

#nav-logo {
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#nav-links a {
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    padding: .4rem 1.2rem;
    margin: 0 1rem;
    border-radius: 1.4rem;
    transition: all 200ms;
}

#nav-links a:hover {
    background: white;
    color: black;
}

/* ---Main--- */
main {
    margin: 0 14rem;
}

h1, p {
    color: white;
}

h1 {
    font-size: 84px;
    line-height: 100px;
    margin: 6rem 0 0 0;
}

p {
    font-size: 28px;
    font-weight: 400;
}

#order-button {
    background: #e56b6f;
    color: white;
    font-family: inherit;
    font-size: 22px;
    font-weight: 500;
    padding: 1rem 1.4rem;
    border-radius: 1rem;
    margin: 1rem 0;
    border-style: none;
    transition: all 200ms;
}

#order-button:hover {
    transform: translateY(-4px);
}

#order-button:active {
    transform: scale(.95);
}