body {
    background: url('../images/mhf-main-back.png');
    /* background: linear-gradient(45deg, #3a0ca3, #56b3ff); */
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    word-spacing: 6px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.alt-body-background {
    background: url('../images/mhf-back.png');
}

/* ---Navbar--- */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

#nav-logo {
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#nav-links a {
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    padding: .4rem 1.2rem;
    margin: 0 1rem;
    border-radius: 1.4rem;
    transition: all 200ms;
}

#nav-links a:hover {
    background: white;
    color: black;
}

/* ---Main--- */
main {
    margin: 0 14rem;
}

#home-heading, #home-desc {
    color: white;
}

#home-heading {
    font-size: 84px;
    line-height: 100px;
    margin: 6rem 0 0 0;
}

#home-desc {
    font-size: 28px;
    font-weight: 400;
}

#order-button {
    background: #e56b6f;
    color: white;
    font-family: inherit;
    font-size: 22px;
    font-weight: 500;
    padding: 1rem 1.4rem;
    border-radius: 1rem;
    margin: 1rem 0;
    border-style: none;
    transition: all 200ms;
}

#order-button:hover {
    transform: translateY(-4px);
}

#order-button:active {
    transform: scale(.95);
}

/* ---Menu--- */
#menu-page {
    background: white;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2rem;
    border-radius: 2rem;
}

.menu-item {
    background: #dddddd;
    /* width: 300px; */
    height: 400px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;

}

.item-info {
    background: #ffffff25;
}

h2, h3 {
    text-align: center;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 24px;
}

/* ---Contact--- */
#contact-page {
    background: white;
    height: min-content;
    margin: 0 14rem;
    padding: 3rem 5rem;
    border-radius: 2rem;
}

#contact-heading,
#phone,
#address,
#hours {
    text-align: center;
}

#contact-heading {
    font-size: 32px;
    margin: 0;
}

#phone,
#address,
#hours {
    margin: 3rem 0;
}

h4 {
    font-size: 24px;
    margin: 1em 0;
}

.contact-info {
    font-size: 22px;
}

/* ---Media Queries--- */
@media (max-width: 820px) {
    main {
        margin: 0 8rem;
    }
}

@media (max-width: 625px) {
    main {
        margin: 0;
    }
}